<div class="modal fade" id="defaultModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content panel-default">
            <div class="modal-header panel-heading">
                <button id="closeModal" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    <span id="modalDefaultHeading"></span>
                </h4>
            </div>
            <div class="modal-body">
                <span id="modalDefaultBody"></span>
            </div>
        </div>
    </div>
</div>