<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content panel-danger">
            <div class="modal-header panel-heading">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    <span id="modalErrorHeading"></span>
                </h4>
            </div>
            <div class="modal-body">
                <span id="modalErrorBody"></span>
                <a class="btn btn-default" id="modalButtonUrl" style="display: none;"></a>
            </div>
        </div>
    </div>
</div>
