{% extends 'base.html' %}

{% block libs %}
    {% load staticfiles %}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="{% static 'js/utils.js' %}"></script>
    <script src="{% static 'js/controllers.js' %}"></script>
{% endblock %}

{% block content_name %}Dodaj restauratora{% endblock %}

{% block content %}

    <div ng-app="formApp" ng-controller="formCtrl">
        <form name="addRest" ng-submit="addRestaurateur()">
            {% csrf_token %}
            Nick restauratora:<br>
            <input type="text" name="name" ng-model="restaurateur.name" ng-pattern="/^[A-Za-z0-9_-]*$/" required><br>
            <span class="errorInputSmall" ng-show="addRest.name.$error.required">Pole wymagane</span>
            <span class="errorInputSmall" ng-show="addRest.name.$error.pattern">Nick może składać się ze znaków (A-Za-z0-9_-)</span><br>
            Numer konta:<br>
            <input type="text" name="account" ng-model="restaurateur.account" ng-pattern="/^\d{20}$/" required><br>
            <span class="errorInputSmall" ng-show="addRest.account.$error.required">Pole wymagane</span>
            <span class="errorInputSmall"
                  ng-show="addRest.account.$error.pattern">Numer powinien składać się z 20 cyfr</span><br>
            Numer telefonu:<br>
            <input type="text" name="phone" ng-model="restaurateur.phone" ng-pattern="/^\d{9}$/" required><br>
            <span class="errorInputSmall" ng-show="addRest.phone.$error.required">Pole wymagane</span>
            <span class="errorInputSmall"
                  ng-show="addRest.phone.$error.pattern">Numer powinien składać się z 9 cyfr</span><br>
            Stan konta:<br>
            <input type="text" name="balance" ng-model="restaurateur.balance" ng-pattern="/^(\d+((,|\.)\d{1,2})?)?$/"
                   required><br>
            <span class="errorInputSmall" ng-show="addRest.balance.$error.required">Pole wymagane</span>
            <span class="errorInputSmall" ng-show="addRest.balance.$error.pattern">Numer może posiadać maksymalnie 2 miejsca dziesiętne</span><br>
            <br>
            <button type="submit" ng-disabled="addRest.$invalid" class="btn btn-default">Zatwierdź</button>
        </form>

    </div>

{% endblock %}

{% block includes %}
    {%  include 'modals/errorModal.html' %}
{% endblock %}