{% extends 'base.html' %}

{% block libs %}
    <script>
    $(document).ready(function(){
        $('#restaurateurNav').addClass('active')
    });
    </script>
{% endblock %}



{% block content_name %}Restauratorzy{% endblock %}
{% block content %}

    {% for restaurateur in restaurateur_list %}

        <div class="col-sm-4">

            <div class="panel panel-default">
                <div class="panel-heading"><h4>{{ restaurateur.user.username }}</h4></div>

                <ul class="list-group">
                    <li class="list-group-item">Numer konta: {{ restaurateur.bank_account }}</li>
                    <li class="list-group-item">Numer telefonu: {{ restaurateur.phone }}</li>
                    <li class="list-group-item">Stan konta: {{ restaurateur.balance }}</li>
                </ul>

            </div>
        </div>

    {% endfor %}

    <button class="btn btn-info" onclick="location.href='/restaurateur/add'">Dodaj restauratora</button>

{% endblock %}