{% extends 'base.html' %}

{% block libs %}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    {% load staticfiles %}
    <script src="{% static 'js/utils.js' %}"></script>
    <script src="{% static 'js/controllers.js' %}"></script>

    {% block includes %}
        {% include 'modals/errorModal.html' %}
        {% include 'modals/defaultModal.html' %}
    {% endblock %}

{% endblock %}

{% block content_name %}Profil użytkownika{% endblock %}
{% block content %}


    <div ng-app="formApp" ng-controller="formCtrl">

        <div class="row">
            <div class="col-sm-3">
                <h4>Edytuj profil</h4>

                <form id="profileForm" name="profileForm" ng-submit="editProfile()">

                    <input type="text" id="name" name="name" ng-model="user.name"
                           ng-pattern="/^[A-Za-z0-9_-]*$/"
                           placeholder="Nick" ng-init="user.name = '{{ user.username }}'"
                           class="form-control" required/>
                    <span class="errorInputSmall"
                          ng-show="profileForm.name.$error.pattern">Nick musi składać się ze znaków (A-Za-z0-9_-)</span>
                    <span class="errorInputSmall"
                          ng-show="profileForm.name.$error.required">Pole wymagane</span>

                    <input type="text" id="first_name" name="firstName" ng-model="user.firstName"
                           ng-pattern="/^[A-Z]{1}[a-zżźćńółęąś]+$/"
                           placeholder="Imię" ng-init="user.firstName = '{{ user.first_name }}'"
                           class="form-control" required/>
                    <span class="errorInputSmall"
                          ng-show="profileForm.firstName.$error.pattern">Źle wprowadzono imię</span>
                    <span class="errorInputSmall"
                          ng-show="profileForm.firstName.$error.required">Pole wymagane</span>

                    <input type="text" id="last_name" name="lastName" ng-model="user.lastName"
                           ng-pattern="/^[A-Z]{1}[a-zżźćńółęąś]+$/"
                           placeholder="Nazwisko" ng-init="user.lastName = '{{ user.last_name }}'"
                           class="form-control" required/>
                    <span class="errorInputSmall"
                          ng-show="profileForm.lastName.$error.pattern">Źle wprowadzono nazwisko</span>
                    <span class="errorInputSmall"
                          ng-show="profileForm.lastName.$error.required">Pole wymagane</span>

                    <input id="id_password" name="password" type="password" ng-model="user.password"
                           ng-pattern="/^[A-Za-z0-9_-]{10,25}$/"
                           placeholder="Hasło" class="form-control"/>
                    <span class="errorInputSmall"
                          ng-show="profileForm.password.$error.pattern">Hasło musi składać się ze znaków (A-Za-z0-9_-) <br>i mieć długość od 10 do 25 znaków</span>

                    <input id="id_password2" name="password2" type="password" ng-model="user.password2"
                           placeholder="Powtórz hasło" class="form-control"/>
                    <span class="errorInputSmall"
                          ng-show="user.password != user.password2">Hasło musi być takie samo</span>

                    <input id="id_email" name="email" type="text" ng-model="user.email"
                           ng-pattern="/^[A-Za-z0-9_\-\.]+\@[a-zA-Z]+\.[a-zA-Z]+$/"
                           ng-init="user.email = '{{ user.email }}'"
                           placeholder="Email" class="form-control" required/>
                    <span class="errorInputSmall"
                          ng-show="profileForm.email.$error.pattern">Nieprawidłowa postać maila</span>
                    <span class="errorInputSmall"
                          ng-show="profileForm.email.$error.required">Pole wymagane</span>

                    <button id="submitBtn" type="submit" ng-disabled="profileForm.$invalid" class="btn btn-default"
                            style="display: block">
                        Zatwierdź
                    </button>
                </form>

            </div>
            <div class="col-sm-3">

                <h4>Edytuj adres</h4>
                <form id="addressForm" name="addressForm" ng-submit="editAddress()" ng-init="getClientAddress()">
                    <input type="text" id="country" name="country" ng-model="address.country"
                           ng-pattern="/^[A-Z]{1}[a-z]+$/"
                           placeholder="Kraj"
                           class="form-control" required/>
                    <span class="errorInputSmall"
                          ng-show="addressForm.country.$error.pattern">Nieprawidłowy format</span>
                    <span class="errorInputSmall"
                          ng-show="addressForm.country.$error.required">Pole wymagane</span>

                    <input type="text" id="city" name="city" ng-model="address.city"
                           ng-pattern="/^[A-Z]{1}[A-Za-zżźćńółęąś\-]+$/"
                           placeholder="Miasto"
                           class="form-control" required/>
                    <span class="errorInputSmall"
                          ng-show="addressForm.city.$error.pattern">Nieprawidłowy format</span>
                    <span class="errorInputSmall"
                          ng-show="addressForm.city.$error.required">Pole wymagane</span>

                    <input type="text" id="street" name="street" ng-model="address.street"
                           ng-pattern="/^[A-Z]{1}[a-zzżźćńółęąś]+$/"
                           placeholder="Ulica"
                           class="form-control" required/>
                    <span class="errorInputSmall"
                          ng-show="addressForm.street.$error.pattern">Nieprawidłowy format</span>
                    <span class="errorInputSmall"
                          ng-show="addressForm.street.$error.required">Pole wymagane</span>

                    <input type="text" id="doors" name="doors" ng-model="address.doors" style="width: 45%"
                           ng-pattern="/^[0-9]+$/"
                           placeholder="Numer domu"
                           class="form-control" required/>
                    <span class="errorInputSmall"
                          ng-show="addressForm.doors.$error.pattern">Nieprawidłowy format</span>
                    <span class="errorInputSmall"
                          ng-show="addressForm.doors.$error.required">Pole wymagane</span>

                    <input type="text" id="postCode" name="postCode" ng-model="address.postCode" style="width: 45%"
                           ng-pattern="/^[0-9]+[-]{1}[0-9]+$/"
                           placeholder="Kod pocztowy"
                           class="form-control" required/>
                    <span class="errorInputSmall"
                          ng-show="addressForm.postCode.$error.pattern">Nieprawidłowy format</span>
                    <span class="errorInputSmall"
                          ng-show="addressForm.postCode.$error.required">Pole wymagane</span>

                    <textarea name="comment" form="addressForm" class="form-control" ng-model="address.info"
                              placeholder="Dodatkowe informacje"></textarea>

                    <button id="addressFormBtn" type="submit" ng-disabled="addressForm.$invalid" class="btn btn-default"
                            style="display: block">
                        Zatwierdź
                    </button>

                </form>


            </div>
        </div>
    </div>

{% endblock %}