{% extends 'base.html' %}

{% block libs %}
    {% load staticfiles %}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="{% static 'js/utils.js' %}"></script>
    <script src="{% static 'js/restaurant.js' %}"></script>

{% endblock %}

{% block content_name %}{% endblock %}

{% block content %}

    <div class="panel panel-default">
        <div class="panel-heading"><h4>{{ restaurant.name }} - szczegóły</h4></div>

        <div class="thumbnail">
            <img src="/static/images/restaurants/{{ restaurant.pk }}.jpg" style="padding: 10px; max-height: 450px;">
        </div>


        <div class="panel-body">
            <h3 style="margin-left: 2%">O restauracji:</h3>
            <div class="row">
                <div class="col-sm-6">
                    <span class="panel-list-element"><b>Opis</b>:<br> {{ restaurant.description }}</span>
                </div>
                <div class="col-sm-3">

                    <span class="panel-list-element"><b>Adres:</b></span>
                    <span class="panel-list-element">ul.{{ restaurant.address.street }} {{ restaurant.address.doors }}</span>
                    <span class="panel-list-element">{{ restaurant.address.city }}</span>
                    <span class="panel-list-element"><b>Telefon</b>: {{ restaurant.phone }}</span>
                    <span class="panel-list-element"><b>Promień dowozu</b>: {{ restaurant.delivery_radius }}</span>
                    <span class="panel-list-element"><b>Właściciel</b>: {{ restaurant.restaurateur.user.first_name }} {{ restaurant.restaurateur.user.last_name }}</span>
                </div>
                <div class="col-sm-2">
                    <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/98458-200.png">
                </div>

            </div>
        </div>
    </div>

    <div ng-app="restaurant" ng-controller="detailsCtrl" ng-init="getDishes({{ restaurant.id }})">

        <div class="panel panel-default">
            <div class="panel-heading"><h4>Oferowane dania</h4></div>

            <div class="panel-body">

                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-sm-12"><b>Sortuj według:</b></div>
                    <div class="col-sm-2">
                        <select ng-model="mySortType" ng-options="type.text for type in sortTypes"
                                class="form-control"></select>
                    </div>

                    <div class="col-sm-7"></div>

                    <div class="input-group" style="margin-right: 10px;">
                        <span class="input-group-addon"><i class=" glyphicon glyphicon-search"></i></span>
                        <input ng-model="search.name" placeholder="Nazwa dania" class="form-control">
                    </div>
                </div>

                <div ng-repeat="dish in dishes | filter: search | orderBy: mySortType.value">
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div style="padding: 20px;">
                                <span class="dishesHeader" style="font-size: 20px;">{$ dish.name $}</span>
                                {$ dish.description $}
                                <span class="dishesHeader" style="display: inline"><br>Cena: </span>{$ dish.price $} zł
                                <span class="dishesHeader">Do wyboru:</span>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <select ng-model="dish.chosenParam"
                                                ng-options="parameter.name for parameter in dish.parameters"
                                                class="form-control"></select>
                                    </div>
                                </div>

                                <button id="dish{$ dish.id $}" ng-click="addDishToCart(dish.id, dish.chosenParam)" class="btn btn-primary btn-xs" style="margin-top: 10px;">
                                    Dodaj danie <span class="glyphicon glyphicon-plus"></span>
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block includes %}
    {% include 'modals/defaultModal.html' %}
    {% include 'modals/errorModal.html' %}
{% endblock %}