{% extends 'base.html' %}

{% block libs %}
    {% load staticfiles %}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="{% static 'js/utils.js' %}"></script>
    <script src="{% static 'js/restaurant.js' %}"></script>

    <script>
        $(document).ready(function () {
            $('#restaurantsNav').addClass('active')
        });
    </script>
{% endblock %}

{% block content_name %}Restauracje{% endblock %}

{% block content %}

    <div ng-app="restaurant" ng-controller="restaurantCtrl" ng-init="getRestaurants()">

        <div class="col-sm-12"><b>Sortuj według:</b></div>
        <div class="col-sm-2">
            <select ng-model="mySortType" ng-options="type.text for type in sortTypes" class="form-control"></select>
        </div>
        <div class="col-sm-6"></div>

        <div class="input-group" style="margin-bottom: 20px;">
            <span class="input-group-addon"><i class=" glyphicon glyphicon-search"></i></span>
            <input id="filter" ng-model="search.name" placeholder="Nazwa restauracji" class="form-control">
        </div>


        <div ng-repeat="restaurant in restaurants | filter: search | orderBy: mySortType.value">
            <a ng-href="{$ restaurant.detailsUrl $}">
                <div class="col-sm-4">

                    <div class="panel panel-default" id="id_restaurant">
                        <div id="restaurant-{$ restaurant.id $}" class="panel-heading"><h4>{$ restaurant.name $}</h4></div>
                        <div class="thumbnail">
                            <img ng-src="{$ restaurant.url $}" style="padding: 10px; max-height: 200px">
                        </div>

                        <span class="panel-list-element"><b>Adres:</b></span>
                        <span class="panel-list-element">ul.{$ restaurant.street $} {$ restaurant.doors $}</span>
                        <span class="panel-list-element">{$ restaurant.city $}</span>
                        <span class="panel-list-element"><b>Telefon</b>: {$ restaurant.phone $}</span>
                        <span class="panel-list-element"><b>Promień dowozu</b>: {$ restaurant.radius $}</span>
                        <span class="panel-list-element"><b>Najtańsze danie</b>: {$ restaurant.minDishPrice $} <span
                                ng-if="!restaurant.minDishPrice">0</span> zł</span>
                    </div>
                </div>
            </a>
        </div>


    </div>

{% endblock %}

{% block includes %}
    {% include 'modals/errorModal.html' %}
{% endblock %}