<!DOCTYPE html>
<html lang="pl">


{% load staticfiles %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="{% static 'styles.css' %}">


{% block libs %}
    <script>
        $(document).ready(function () {
            $('#homeNav').addClass('active')
        });
    </script>
{% endblock %}

<head>
    <meta charset="UTF-8">
    <title>Pycha</title>
</head>

<style type="text/css">
    {% block styles %}{% endblock %}
</style>

<body>

<nav class="navbar navbar-default">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Pycha</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <li id="homeNav"><a href="{% url 'index' %}">Dom</a></li>
            <li id="restaurantsNav"><a href="{% url 'restaurants' %}">Restauracje</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            {% if not user.is_authenticated %}
                <li id="registerNav"><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> Rejestracja</a></li>
                <li id="loginNav"><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Zaloguj</a></li>
            {% else %}
                <li id="witaj-user"><span class="navbar-text">Witaj {{ user.username }}</span></li>
                <li id="cartNav"><a href="{% url 'cart' %}"><span class="glyphicon glyphicon-shopping-cart"></span> Koszyk</a></li>
                <li id="profileNav"><a href="{% url 'profile' %}"> <span class="glyphicon glyphicon-user"></span> Profil </a></li>
                <li id="logoutNav"><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Wyloguj</a></li>
            {% endif %}
        </ul>
    </div>
</nav>


<div class="container" style="margin-bottom: 100px;">

    <div class="jumbotron">
        <h2 id="header-text">Pycha - coś pysznego dla każdego</h2>
    </div>

    <div class="page-header">
        <h1 id="main-header">{% block content_name %}Strona główna{% endblock %}</h1>
    </div>

    {% block content %}
        <div class="row">
            <div class="col-sm-7">

                <div class="panel panel-default">
                    <div class="panel-heading"><h4>Jak to działa</h4></div>
                    <div class="panel-body">
                        Jesteśmy portalem do zamawiania jedzenia online – restauracje z Twojego miasta w jednym miejscu!

                        Głodny? Zamów jedzenie z dostawą do domu i biura na Pycha.pl! Dzięki darmowej aplikacji Pycha.pl
                        możesz zamówić w 2 minuty ulubioną pizzę, kebab, sushi i inne dania z dowozem! Wystarczy, że
                        podasz adres dostawy, wybierzesz restaurację w Twojej okolicy i danie, na które masz
                        ochotę.Twoja ulubiona pizza, kebab, hamburger czy sushi są już w drodze do Ciebie!
                        <br><br> Zamówienie jedzenia przez aplikację Pycha.pl jest dziecinnie proste. Wystarczy, że:<br>
                        ✔ Podasz adres, na który chcesz zamówić jedzenie<br>
                        ✔ Spośród restauracji, które dowożą pod Twój adres, wybierzesz tę, z usług której chcesz
                        skorzystać<br>
                        ✔ Dodasz do koszyka danie, na które masz ochotę<br>
                        ✔ Wybierzesz preferowaną formę płatności<br>
                        Voila! Twoje jedzenie jest w drodze!
                        Zamawiając przez aplikację Pycha.pl nie potrzebujesz gotówki – w serwisie można zapłacić za
                        wybrane jedzenie online!
                    </div>
                </div>

            </div>
            <div class="col-sm-5">
                <img src="{% static 'images/main-page-icon.png' %}" width="100%">
            </div>
        </div>
    {% endblock %}

    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <span class="navbar-text"
                  style="color: white; margin-left: 40%">Pycha 2017. Wszelkie prawa zastrzeżone</span>
        </div>
    </div>

</div>
<br>

{% block includes %}
{% endblock %}

</body>
</html>