{% extends 'base.html' %}

{% block libs %}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    {% load staticfiles %}
    <script src="{% static 'js/utils.js' %}"></script>
    <script src="{% static 'js/cartApp.js' %}"></script>


{% endblock %}

{% block content_name %}Koszyk{% endblock %}
{% block content %}

    <div ng-app="cartApp" ng-controller="cartCtrl" ng-init="getCart()">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h4>Szczegóły zamówienia</h4></div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-sm-7">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Restauracja</th>
                                    <th>Danie</th>
                                    <th>Ilość</th>
                                    <th>Wybrany składnik</th>
                                    <th>Razem</th>
                                </tr>
                                </thead>
                                <tbody ng-repeat="suborder in suborders">
                                <tr ng-repeat="dishQuantity in suborder.dishesQuantities">
                                    <td>{$ suborder.restaurant $}</td>
                                    <td>{$ dishQuantity.dish.name $}</td>

                                    <td>{$ dishQuantity.quantity $}
                                        <button type="button" class="btn btn-default btn-xs"
                                                ng-click="removeProduct(dishQuantity.id, order.id)">
                                            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                                        </button>
                                    </td>

                                    <td>{$ dishQuantity.parameter $}</td>
                                    <td>{$ dishQuantity.price $}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>


                        <div class="col-sm-2"></div>
                        <div class="col-sm-3">
                            {% if order %}
                                <h4>Koszt całkowity:</h4>
                                {$ order.totalPrice $} zł
                                <h4>Data zamówienia:</h4>
                                {{ order.date }}

                                <br><br>
                                <h4>Adres dostawy:</h4>
                                ul.{{ order.address.street }} {{ order.address.doors }} <br>
                                {{ order.address.city }}, {{ order.address.post_code }}
                                <br>
                                {{ order.address.country }}
                                <br>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}