{% extends 'base.html' %}

{% block content_name %}Zaloguj się{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-sm-4"></div>
        <div class="col-sm-4">

            {% if not login_status %}
                <div id="login_failed_alert" class="alert alert-danger fade in">
                    <span>Login i hasło nie pasują. Spróbuj ponownie:</span>
                </div>
            {% endif %}

            <div class="panel panel-default">
                <div class="panel-heading">Logowanie</div>
                <div class="panel-body">
                    <form method="post" action="{% url 'login' %}" class="form-signin" role="form">
                        {% csrf_token %}
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="id_username" name="username" type="text" class="form-control" placeholder="Login"
                                   required
                                   autofocus/><br>
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="id_password" name="password" type="password" class="form-control"
                                   placeholder="Hasło"
                                   required/>
                        </div>
                        <br>
                        <input id="id_login" type="submit" class="btn btn-default" value="Zaloguj"/>
                    </form>
                </div>
            </div>


        </div>

    </div>

{% endblock %}