{% extends 'base.html' %}

{% block libs %}
    {{ block.super }}
    {% load staticfiles %}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="{% static 'js/utils.js' %}"></script>
    <script src="{% static 'js/controllers.js' %}"></script>
{% endblock %}

{% block styles %}
    form input
    {
        margin-top: 10px;
    }
{% endblock %}

{% block content_name %}Zarejestruj konto{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">

            <div class="panel panel-default">
                <div class="panel-heading">Rejestracja</div>
                <div class="panel-body">

                    <div ng-app="formApp" ng-controller="formCtrl" ng-init="user.type = 'client'">

                        <form name="userForm" ng-submit="registerUser()">
                            {% csrf_token %}

                            <h4>Typ konta:</h4>
                            <input id="clientRadio" type="radio" ng-model="user.type" value="client">Klient
                            <input id="restaurateurRadio" type="radio" ng-model="user.type" value="restaurateur">Restaurator<br><br>

                            <div id="clientForm" ng-if="user.type == 'client'">
                                <input type="text" id="name" name="name" ng-model="user.name"
                                       ng-pattern="/^[A-Za-z0-9_-]*$/"
                                       placeholder="Nick"
                                       class="form-control" required>
                                <span class="errorInputSmall"
                                      ng-show="userForm.name.$error.required">Pole wymagane</span>
                                <span class="errorInputSmall"
                                      ng-show="userForm.name.$error.pattern">Nick musi składać się ze znaków (A-Za-z0-9_-)</span>

                                <input id="id_password" name="password" type="password" ng-model="user.password"
                                       ng-pattern="/^[A-Za-z0-9_-]*$/"
                                       placeholder="Hasło" class="form-control" required/>
                                <span class="errorInputSmall"
                                      ng-show="userForm.password.$error.required">Pole wymagane</span>
                                <span class="errorInputSmall"
                                      ng-show="userForm.password.$error.pattern">Hasło musi składać się ze znaków (A-Za-z0-9_-)</span>

                                <input id="id_email" name="email" type="email" ng-model="user.email"
                                       ng-pattern="/^[A-Za-z0-9_\-\.]+\@[a-zA-Z]+\.[a-zA-Z]+$/"
                                       placeholder="Email" class="form-control" required/>
                                <span class="errorInputSmall"
                                      ng-show="userForm.email.$error.required">Pole wymagane</span>
                                <span class="errorInputSmall"
                                      ng-show="userForm.email.$error.pattern">Nieprawidłowa postać maila</span>
                            </div>

                            <div id="restaurateurForm" ng-if="user.type == 'restaurateur'">

                                <input type="text" id="name" name="name" ng-model="user.name" ng-pattern="/^[A-Za-z0-9_-]*$/"
                                       placeholder="Nick"
                                       class="form-control" required>
                                <span class="errorInputSmall"
                                      ng-show="userForm.name.$error.required">Pole wymagane</span>
                                <span class="errorInputSmall"
                                      ng-show="userForm.name.$error.pattern">Nick musi składać się ze znaków (A-Za-z0-9_-)</span>

                                <input id="id_password" name="password" type="password" ng-model="user.password"
                                       ng-pattern="/^[A-Za-z0-9_-]*$/"
                                       placeholder="Hasło" class="form-control" required/>
                                <span class="errorInputSmall"
                                      ng-show="userForm.password.$error.required">Pole wymagane</span>
                                <span class="errorInputSmall"
                                      ng-show="userForm.password.$error.pattern">Hasło musi składać się ze znaków (A-Za-z0-9_-)</span>

                                <input id="id_email" name="email" type="email" ng-model="user.email"
                                       ng-pattern="/^[A-Za-z0-9_\-\.]+\@[a-zA-Z]+\.[a-zA-Z]+$/"
                                       placeholder="Email" class="form-control" required/>
                                <span class="errorInputSmall"
                                      ng-show="userForm.email.$error.required">Pole wymagane</span>
                                <span class="errorInputSmall"
                                      ng-show="userForm.email.$error.pattern">Nieprawidłowa postać maila</span>

                                <input id="account" type="text" name="account" ng-model="user.account" ng-pattern="/^\d{20}$/"
                                       placeholder="Numer konta" class="form-control"
                                       required>
                                <span class="errorInputSmall"
                                      ng-show="userForm.account.$error.required">Pole wymagane</span>
                                <span class="errorInputSmall"
                                      ng-show="userForm.account.$error.pattern">Numer konta powinien składać się z 20 cyfr</span>

                                <input id="phone" type="text" name="phone" ng-model="user.phone" ng-pattern="/^\d{9}$/"
                                       placeholder="Numer telefonu" class="form-control"
                                       required>
                                <span class="errorInputSmall"
                                      ng-show="userForm.phone.$error.required">Pole wymagane</span>
                                <span class="errorInputSmall"
                                      ng-show="userForm.phone.$error.pattern">Numer telefonu powinien składać się z 9 cyfr</span>
                            </div>

                            <button type="submit" id="register-submit-btn" ng-disabled="userForm.$invalid" class="btn btn-default">Zatwierdź
                            </button>
                        </form>
                    </div>

                </div>
            </div>

        </div>

    </div>
{% endblock %}

{% block includes %}
    {%  include 'modals/errorModal.html' %}
{% endblock %}