{% extends 'base.html' %}

{% block libs %}
    {{ block.super }}
    {% load staticfiles %}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="{% static 'js/utils.js' %}"></script>
    <script src="{% static 'js/uploadApp.js' %}"></script>
{% endblock %}


{% block content_name %}Wyślij plik{% endblock %}

{% block content %}

    <div ng-app="uploadApp" ng-controller="uploadCtrl" ng-init="resetForm()">
        <form name="fileUpForm">
            <input type="file" file-model="myFile"/>
            <button ng-click="uploadFile()">Upload</button>
        </form>
    </div>

{% endblock %}

{% block includes %}
    {% include 'modals/errorModal.html' %}
{% endblock %}