.jumbotron {
    background: url("/static/images/header.jpg") no-repeat;
}

#main-header {
    font-size: 2em;
}

#header-text {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.errorInput {
    color: darkred;
}

.errorInputSmall {
    color: darkred;
    font-size: 80%;
}

form button
{
    margin-top: 20px;
}

.panel-default > .panel-heading{
        background: #fea400;
}

.panel-list-element {
    display: block;
    font-size: 15px;
    margin-left: 5%;
    padding: 5px;
    color: black;
}

.navbar-default {
  background-color: #13203e;
  border-color: #313e5e;
}
.navbar-default .navbar-brand {
  color: #e5e5e5;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #e5e5e5;
}
.navbar-default .navbar-nav > li > a {
  color: #e5e5e5;
}

.navbar-default .navbar-text > a {
  color: #e5e5e5;
}

.navbar-default .navbar-text > a:hover {
  color: #fcac12;
    text-decoration: none;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #313e5e;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #313e5e;
}
.navbar-default .navbar-toggle {
  border-color: #313e5e;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #313e5e;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #e5e5e5;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e5e5e5;
}
.navbar-default .navbar-link {
  color: #e5e5e5;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #e5e5e5;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #313e5e;
  }
}

.dishesHeader {
    display: block;
    font-size: 14px;
    color: #04003f;
    margin-top: 10px;
    margin-bottom: 10px;
}

#profileForm input {
    margin-top: 10px;
    width: 80%;
}

#addressForm input, textarea {
    margin-top: 10px;
    width: 90%;
}

#modalButtonUrl{
    margin-top: 10px;
    margin-left: 40%;
}